@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Home page</p>
<img src="~/images/banner1.svg" asp-append-version="true" alt="Banner" />

<div cdnify>
    <img src="~/images/banner2.svg" asp-append-version="true" no-cdn alt="Banner2" />
</div>

<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Pixel" />

