@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>Home page</p>

<img src="~/images/banner1.svg" asp-append-version="true" alt="Banner" />
<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Pixel" />

